# Visual Studio
.vs/
**/.vs/

# Build folder
bin/
**/bin/
**/bin/**

obj/
**/obj/
**/obj/**

# Release subfolder
**/bin/Release/
**/bin/Release/**

# Ignore DLLs, EXEs, PDBs etc.
**/*.dll
**/*.exe
**/*.pdb

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Other temporary files
*.user
*.suo
*.cache
*.log
*.tmp

# --- Project-specific paths additionally for safety reasons ---
/SCNCore Plus Agent Installer/.vs/
/SCNCore Plus Agent Installer/bin/
/SCNCore Plus Agent Installer/obj/

/SCNCore-Plus-Agent-Installer-Windows/.vs/
/SCNCore-Plus-Agent-Installer-Windows/bin/
/SCNCore-Plus-Agent-Installer-Windows/obj/

/SCNCore-Plus-Agent-Uninstaller-Windows/.vs/
/SCNCore-Plus-Agent-Uninstaller-Windows/bin/
/SCNCore-Plus-Agent-Uninstaller-Windows/obj/

/SCNCore Plus Agent Comm/.vs/
/SCNCore Plus Agent Comm/bin/
/SCNCore Plus Agent Comm/bin/Release/net8.0/
/SCNCore Plus Agent Comm/obj/

/SCNCore-Plus-Health-Agent-Windows/.vs/
/SCNCore-Plus-Health-Agent-Windows/bin/
/SCNCore-Plus-Health-Agent-Windows/bin/Release/net8.0/
/SCNCore-Plus-Health-Agent-Windows/obj/
/SCNCore-Plus-Health-Agent-Windows/SCNCore Plus Health Agent (Windows)/.vs/
/SCNCore-Plus-Health-Agent-Windows/SCNCore Plus Health Agent (Windows)/bin/
/SCNCore-Plus-Health-Agent-Windows/SCNCore Plus Health Agent (Windows)/obj/

/SCNCore Plus Agent Remote/.vs/
/SCNCore Plus Agent Remote/bin/
/SCNCore Plus Agent Remote/bin/Release/net8.0/
/SCNCore Plus Agent Remote/obj/

/SCNCore-Plus-Remote-Agent-Windows/.vs/
/SCNCore-Plus-Remote-Agent-Windows/bin/
/SCNCore-Plus-Remote-Agent-Windows/bin/Release/net8.0/
/SCNCore-Plus-Remote-Agent-Windows/obj/
/SCNCore-Plus-Remote-Agent-Windows/SCNCore Plus Remote Agent (Windows)/.vs/
/SCNCore-Plus-Remote-Agent-Windows/SCNCore Plus Remote Agent (Windows)/bin/
/SCNCore-Plus-Remote-Agent-Windows/SCNCore Plus Remote Agent (Windows)/obj/

/SCNCore-Plus-Server/.vs/
/SCNCore-Plus-Server/bin/
/SCNCore-Plus-Server/obj/

/SCNCore-Plus-User-Process/.vs/
/SCNCore-Plus-User-Process/bin/
/SCNCore-Plus-User-Process/obj/

/SCNCore-Plus-Web-Console/.vs/
/SCNCore-Plus-Web-Console/bin/
/SCNCore-Plus-Web-Console/obj/
