# Visual Studio
.vs/
**/.vs/

# Build folder
bin/
**/bin/
**/bin/**

obj/
**/obj/
**/obj/**

# Release subfolder
**/bin/Release/
**/bin/Release/**

# Ignore DLLs, EXEs, PDBs etc.
**/*.dll
**/*.exe
**/*.pdb

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Other temporary files
*.user
*.suo
*.cache
*.log
*.tmp

# --- Project-specific paths additionally for safety reasons ---
/NetLock RMM Agent Installer/.vs/
/NetLock RMM Agent Installer/bin/
/NetLock RMM Agent Installer/obj/

/NetLock-RMM-Agent-Installer-Windows/.vs/
/NetLock-RMM-Agent-Installer-Windows/bin/
/NetLock-RMM-Agent-Installer-Windows/obj/

/NetLock-RMM-Agent-Uninstaller-Windows/.vs/
/NetLock-RMM-Agent-Uninstaller-Windows/bin/
/NetLock-RMM-Agent-Uninstaller-Windows/obj/

/NetLock RMM Agent Comm/.vs/
/NetLock RMM Agent Comm/bin/
/NetLock RMM Agent Comm/bin/Release/net8.0/
/NetLock RMM Agent Comm/obj/

/NetLock-RMM-Health-Agent-Windows/.vs/
/NetLock-RMM-Health-Agent-Windows/bin/
/NetLock-RMM-Health-Agent-Windows/bin/Release/net8.0/
/NetLock-RMM-Health-Agent-Windows/obj/
/NetLock-RMM-Health-Agent-Windows/NetLock RMM Health Agent (Windows)/.vs/
/NetLock-RMM-Health-Agent-Windows/NetLock RMM Health Agent (Windows)/bin/
/NetLock-RMM-Health-Agent-Windows/NetLock RMM Health Agent (Windows)/obj/

/NetLock RMM Agent Remote/.vs/
/NetLock RMM Agent Remote/bin/
/NetLock RMM Agent Remote/bin/Release/net8.0/
/NetLock RMM Agent Remote/obj/

/NetLock-RMM-Remote-Agent-Windows/.vs/
/NetLock-RMM-Remote-Agent-Windows/bin/
/NetLock-RMM-Remote-Agent-Windows/bin/Release/net8.0/
/NetLock-RMM-Remote-Agent-Windows/obj/
/NetLock-RMM-Remote-Agent-Windows/NetLock RMM Remote Agent (Windows)/.vs/
/NetLock-RMM-Remote-Agent-Windows/NetLock RMM Remote Agent (Windows)/bin/
/NetLock-RMM-Remote-Agent-Windows/NetLock RMM Remote Agent (Windows)/obj/

/NetLock-RMM-Server/.vs/
/NetLock-RMM-Server/bin/
/NetLock-RMM-Server/obj/

/NetLock-RMM-User-Process/.vs/
/NetLock-RMM-User-Process/bin/
/NetLock-RMM-User-Process/obj/

/NetLock-RMM-Web-Console/.vs/
/NetLock-RMM-Web-Console/bin/
/NetLock-RMM-Web-Console/obj/
