<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider /> 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />  

    <link rel="icon" type="image/ico" href="favicon.ico" />
    <title>NetLock RMM - Web Console</title>
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <script>
        window.isDarkMode = function () {
            return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
        };
    </script>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/BlazorMonaco/jsInterop.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/remote_control.js"></script>
    <script src="js/copyToClipboard.js"></script>
    <script src="js/fullscreen.js"></script>

    <!--https://github.com/serdarciplak/BlazorMonaco/issues/136-->
    <script>
        (function () {
            const blazorMonaco = window.blazorMonaco;
            const innerFunction = blazorMonaco.editor.create;

            blazorMonaco.editor.create = function (id, options, override, dotnetRef) {
                try {
                    const oldEditor = blazorMonaco.editor.getEditor(id, true);

                    if (oldEditor !== null) {
                        blazorMonaco.editors.splice(blazorMonaco.editors.findIndex(item => item.id === id), 1);
                        oldEditor.dispose();
                    }

                    innerFunction.call(this, id, options, override, dotnetRef);
                } catch (error) {
                    console.error("Error in overriding editor creation:", error);
                }
            };
        })();
    </script>

</body>

</html>
