<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.7.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.3" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Authorization" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Connections.Client" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Connections.Common" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Metadata" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.SignalR.Client" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.SignalR.Client.Core" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.SignalR.Common" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.SignalR.Core" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.SignalR.Protocols.Json" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Diagnostics" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Features" version="8.0.10" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Console" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Debug" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="8.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.2" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="4.2.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net472" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>